.App {
  text-align: center;
  background-image: url('Assets/background.png');
  background-size:100% 100%;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content:center;
  
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form{
  box-shadow: 0 1px 1px rgba(63, 174, 254,.3), 
  0 2px 2px rgba(63, 174, 254,.3), 
  0 4px 4px rgba(63, 174, 254,.3), 
  0 8px 8px rgba(63, 174, 254,.3);
  
}

.button{
  background: #004AAC!important;
  border:none!important;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2), 
  0 2px 2px rgba(0,0,0,0.2), 
  0 4px 4px rgba(0,0,0,0.2), 
  0 8px 8px rgba(0,0,0,0.2),
  0 16px 16px rgba(0,0,0,0.2);
}
